<%= simple_form_for [:admin, @currency_rates], defaults: { input_html: { class: 'mb-3' } }, wrapper: :horizontal_form do |form| %>
  <%= form.input :source, collection: Currency.order(:country), label_method: :code, value_method: :code, prompt: "< Choose source currency >" %>
  <%= form.input :target, collection: Currency.order(:country), label_method: :code, value_method: :code, prompt: "< Choose target currency >" %>
  <%= form.input :rate, input_html: { min: '0', placeholder:  "000.0000"} %>
  <%= form.input :rate_date, html5: true %>

  <div class="form-actions">
    <%= form.button :submit, value: 'OK', class: "btn btn-primary btn-min-120" %>
    <%= link_to 'Cancel', admin_currencies_path, class: "btn btn-secondary btn-min-120 btn-ml-20" %>
  </div>
<% end %>
