<%= simple_form_for [:admin, @currency_rates], defaults: { input_html: { class: 'mb-3' } }, wrapper: :horizontal_form,  wrapper_mappings:{ file: :horizontal_file } do |form| %>
  <div class="card mt-4">
    <div class="card-body">
      <%= form.association :source, label: "Source",  label_method: :code, value_method: :id, include_blank: false, prompt: "< Choose source currency >" %>
      <%= form.association :target, label: "Target", label_method: :code, value_method: :id, include_blank: false, prompt: "< Choose target currency >" %>
      <%= form.input :rate, label: "Rate"%>
      <%= form.input :rate_date, label: "Date"%>
      <%= form.button :submit, class: "btn btn-primary btn-lg float-end" %>
    </div>
</div>
<% end %>
