<div class="dictionary">
  <%= new_right_button(new_admin_currency_rate_path) %>
  <h1>Currency rates (<%= @currency_rates.size %>)</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th> </th>
      <th>Date</th>
      <th>Source currency</th>
      <th>Target currency</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @currency_rates.each do |currency_rate| %>
      <tr>
        <td><%= currency_rate.id %></td>
        <td><%= edit_button(edit_admin_currency_rate_path(currency_rate)) %></td>
        <td><%= currency_rate.rate_date %></td>
        <td><%= currency_rate.source %></td>
        <td><%= currency_rate.target %></td>
        <td class="text-end"><%= currency_rate.rate %></td>
        <td><%= destroy_button(admin_currency_rate_path(currency_rate), 'delete') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
