<%= form_with(model: user) do |form| %>

  <%= form.label :"Full name" %>
  <div class="input-group">
    <%= form.text_field :full_name, class: "form-control #{field_validity_class(user, :full_name)}" %>
    <%# if user.errors.include?(:full_name) %>
<!--      <div class="invalid-feedback">-->
        <%# user.errors.full_messages_for(:full_name).each do |error_message| %>
<!--          <%#= error_message %>.-->
        <%# end %>
<!--      </div>-->
    <%# end %>


<!--    <div class="<%#= div_class(user) %>">-->
      <%#= user_valiadation(user, :full_name) %>
<!--    </div>-->
  </div>

  <%= form.label :Phone %>
  <div class="input-group">
    <%= form.text_field :phone, class: "form-control is-invalid" %>
    <% if user.errors.include?(:phone) %>
      <div class="invalid-feedback">
        <% user.errors.full_messages_for(:phone).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form.label :"Email address" %>
  <div class="input-group">
    <%= form.text_field :email, class: "form-control is-invalid" %>
    <% if user.errors.include?(:email) %>
      <div class="invalid-feedback">
        <% user.errors.full_messages_for(:email).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form.label :Password %>
  <div class="input-group">
    <%= form.text_field :password, class: "form-control is-invalid" %>
    <% if user.errors.include?(:password) %>
      <div class="invalid-feedback">
        <% user.errors.full_messages_for(:password).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions" align="center">
    <%= form.submit :class=> "bnt btn-primary bnt-lg" %>
  </div>
<% end %>
