<!-- Hero/Intro Slider Start -->
<div class="section ">
  <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
    <!-- Hero slider Active -->
      <!-- Single slider item -->
      <div class="hero-slide-item slider-height swiper-slide d-flex bg-color1">
        <div class="container align-self-center">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 align-self-center sm-center-view">
              <div class="hero-slide-content slider-animated-1">
                <h2 class="title-1">Модная коллекция</h2>
                <h2 class="title-2">2022</h2>
                <a href="<%=products_path %>" class="btn btn-lg btn-primary btn-hover-dark"> Каталог <i
                  class="fa fa-shopping-basket ml-15px" aria-hidden="true"></i></a>
              </div>
            </div>
            <div
              class="col-xl-7 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center position-relative">
              <div class="show-case">
                <div class="hero-slide-image">
                  <%= image_tag 'Дизайн без названия.png' %>
                </div>
                <div class="display-wrapper">
                  <div class="content-side">
                    <% @a = @products.last %>
                    <h4 class="title"><%=@a.title %></h4>
                    <span class="price"><%=in_dollars(@a.price) %></span>
                    <a href="<%=products_path %>" class="shop-link">Каталог</a>
                  </div>
                  <div class="image-side">
                    <a href="<%= product_path(@a) %>" class="image">
                      <img src="<%=@a.images.first.url %>"  width="80" height="100" alt="Product" />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

<!-- Hero/Intro Slider End -->
<br>
<!-- Product Area Start -->
<div class="product-area pt-50px pb-100px">
  <div class="container">
    <!-- Section Title & Tab Start -->
    <div class="row">
      <!-- Section Title Start -->
      <div class="col-12">
        <div class="section-title text-center mb-0">
          <h2 class="title">#Одежда</h2>
          <!-- Tab Start -->
          <div class="nav-center"></div><BR>
          <!-- Tab End -->
        </div>
      </div>
      <!-- Section Title End -->
    </div>
    <!-- Section Title & Tab End -->

    <div class="row">
      <div class="col">
        <div class="tab-content mb-30px0px">
          <!-- 1st tab start -->
          <div class="tab-pane fade show active" id="tab-product--all">
            <div class="row">
              <% @products.each do |product| %>
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px" data-aos="fade-up"
                     data-aos-delay="200">
                  <!-- Single Prodect -->
                  <div class="product">
                    <div class="thumb">
                      <a href="<%= product_path(product) %>" class="image">
                        <img class="img-responsive m-auto" src="<%=product.images.first.url %>"  width="270" height="310" alt="Product" />
                      </a><span class="badges">
                        <span class="new">New</span>
                      </span>
                    </div>
                    <div class="content">
                      <div class="rating-product">
                        <%product.rate.times do %>
                          <i class="fa fa-star"></i>
                        <% end %>
                      </div>
                      <h5 class="title"><a href="<%= home_path(product)%>"><%=product.title%>
                      </a>
                      </h5>
                      <span class="price">
                        <span class="new"><%=in_dollars(product.price)%></span>
                    </span>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <!-- 1st tab end -->
        </div>
        <a href="<%= products_path %>" class="btn btn-lg btn-primary btn-hover-dark m-auto">Каталог <i
          class="fa fa-arrow-right ml-15px" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- Product Area End -->
