<div class="container">
   <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
     <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
       <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
       <span class="fs-4">Admin</span>
     </a>

     <ul class="nav nav-pills">
       <li class="nav-item"><%=link_to 'Users', admin_users_path, class: "nav-link" %></li>
       <li class="nav-item"><%=link_to 'Products', admin_products_path, class: "nav-link" %></li>
       <li class="nav-item"><%=link_to 'Category', admin_categories_path, class: "nav-link" %></li>
       <li class="nav-item"><%=link_to 'Currency', admin_currencies_path, class: "nav-link" %></li>
       <li class="nav-item"><%=link_to 'Currency rates', admin_currency_rates_path, class: "nav-link" %></li>
       <li class="nav-item"><%=link_to 'Current rates', admin_current_rates_path, class: "nav-link" %></li>
     </ul>
   </header>
 </div>
