<p><h1>Exchange rates of foreign currencies against the ruble</h1></p>

<table class="table">
  <thead>
  <tr>
    <th>Country</th>
    <th>Currency name</th>
    <th>Letter code</th>
    <th>Rate</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @currencies_rate = Currency.find_by_sql("select * from currencies inner join rates on currencies.id = rates.currency_id")%>
  
  <% @currencies_rate.each do |currency_rate| %>
    <tr>
      <td><%= currency_rate.entity %></td>
      <td><%= currency_rate.currency %></td>
      <td><%= currency_rate.alphabetic_code %></td>
      <td class="text-end"><%= currency_rate.rate %></td>
      <td><%= link_to 'Edit', edit_admin_rate_path(currency_rate, currency_rate.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New', new_admin_rate_path %>
