<div class="dictionary">
  <%= new_right_button(new_admin_product_path) %>
  <h1>Products (<%= @products.size %>)</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th> </th>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= edit_button(edit_admin_product_path(product)) %></td>
          <td><%= link_to  product.title, admin_product_path(product) %></td>
          <td><%= image_tag(product.images.first.url, :size => "50x50") %></td>
          <td><%= truncate(product.description, length: 150) %></td>
          <td><%= product.price %></td>
          <td><%= product.store_qty %></td>
          <td><%= destroy_button(admin_product_path(product), 'delete') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
