<div class="dictionary">
  <%= new_right_button(new_admin_product_path) %>
  <h1>Products (<%= @products.size %>)</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th></th>
        <th>Title</th>
        <th></th>
        <th>Description</th>
        <th>Price</th>
        <th>Qty</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class = "table-col-width"><%= product.id %></td>
          <td class = "table-col-width"><%= edit_button(edit_admin_product_path(product)) %></td>
          <td><%= link_to  product.title, admin_product_path(product) %></td>
          <td class = "table-col-width"><%= image_tag(product.images.first.url, :size => "50x50") %></td>
          <td><%= truncate(product.description, length: 150) %></td>
          <td class = "table-text-align-right"><%= product.price %></td>
          <td class = "table-col-width"><%= product.store_qty %></td>
          <td class = "table-col-width"><%= destroy_button(admin_product_path(product), 'delete') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
