<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <% @product.images.each do |image| %>
    <%= image_tag(image.small_preview.url, alt: 'Image') if @product.image? %>
  <%end %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.store_qty %>
</p>

<p>
  <strong>SKU:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @product.rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product), class: "btn btn-primary" %> |
<%= link_to 'Back', admin_products_path, class: "btn btn-secondary" %>
