<div class="row">
  <div class="col-8 offset-4 dictionary-new">
    <h1>Редактироавние</h1>
    <%= simple_form_for [:admin, @user], defaults: { input_html: { class: 'mb-3' } }, wrapper: :vertical_form do |form| %>
      <%= form.input :full_name, class: "form-control #{field_validity_class(@user, :full_name)},"%>
      <%= filed_errors(@user, :full_name) %>

      <%= form.input :phone, class: "form-control #{field_validity_class(@user, :phone)}" %>
      <%= filed_errors(@user, :phone) %>

      <%= form.input :email, class: "form-control #{field_validity_class(@user, :email)}" %>
      <%= filed_errors(@user, :email) %>

      <div class="form-actions">
        <%= form.button :submit, value: 'OK', class: "btn btn-primary btn-min-120" %>
        <%= link_to 'Отмена', admin_users_path, class: "btn btn-secondary btn-min-120 btn-ml-20" %>
      </div>
    <%end %>
  </div>
</div>

