<div class="dictionary">
  <%= new_right_button(new_admin_user_path) %>
  <h1>Users (<%= @users.size %>)</h1>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="th-18 text-center">ID</th>
      <th class="th-18"></th>
      <th class="th-18 text-nowrap">Full name</th>
      <th>Phone</th>
      <th>Email address</th>
      <th class="th-18"></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-end"><%= user.id %></td>
        <td><%= edit_link(edit_admin_user_path(user)) %></td>
        <td class="text-nowrap"><%= user.full_name %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= destroy_link(admin_user_path(user)) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
