<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-sm table-striped ml-4">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= truncate(product.description, length: 150) %></td>
        <td>  <%= image_tag(product.image.url, alt: 'Image', :size => "150x200") if product.image? %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', admin_path %> |
<%= link_to 'New Product', new_product_path %>
