<%= content_for(:breadcrumbs) do %>
  <div class="breadcrumb-area">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 text-center">
          <h2 class="breadcrumb-title">Products</h2>
          <ul class="breadcrumb-list">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Products</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
        <!-- Swiper -->
        <div class="swiper-container zoom-top">
          <div class="swiper-wrapper">
            <% @product.images.each do |image| %>
              <div class="swiper-slide zoom-image-hover">
                <%= image_tag(image.url, class: "img-responsive m-auto", alt: "") %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="swiper-container zoom-thumbs mt-3 mb-3">
          <div class="swiper-wrapper">
            <% @product.images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag(image.url, class: "img-responsive m-auto", alt: "") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
        <div class="product-details-content quickview-content">
          <h2><%= @product.title %></h2>
          <div class="pricing-meta">
            <ul>
              <li class="old-price not-cut">
                <%= number_to_currency(@product.price) %>
              </li>
            </ul>
          </div>
          <div class="pro-details-rating-wrap">
            <div class="rating-product">
              <%@product.rate.times do %>
                <i class="fa fa-star"></i>
              <% end %>
            </div>
          </div>

          <p class="mt-30px mb-0"><%=@product.description%></p>
          <div class="pro-details-quality">
              <%= form_with model: @cart_item, remote: true do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <p>Выберите количество:</p>
              <div style="margin-left: 3%">
                  <%= f.number_field :quantity, value: 1, min:  1%>
              </div>
                <p>Выберите размер:</p>
                <div style="margin-bottom: 10%; margin-left: 3%">
                      <%= f.collection_select :store_id, @stores, :id, :size, {}, class: "form-select"%>
                </div>
                <div class="pro-details-cart">
                  <%= f.submit "В корзину", class: "add-cart" %>
                </div>
              <% end %>
            </div>
        </div>
        <div class="pro-details-sku-info pro-details-same-style  d-flex">
          <span>SKU: </span>
          <ul class="d-flex">
            <li><%=@product.sku %></li>
          </ul>
        </div>
        <div class="pro-details-categories-info pro-details-same-style d-flex">
          <span>Category:</span>
          <ul class="d-flex">
            <li><%=@product.category.name %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
