<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div class="container">
    <% if user_signed_in? %>
      <span>Здравствуйте, <%= current_user.full_name %></span>
      <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "header-action-btn login-btn" %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: "header-action-btn login-btn" %>
    <% end %>

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="<%=admin_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Admin page</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><%=link_to 'Users', admin_users_path, class: "nav-link" %></li>
        <li class="nav-item"><%=link_to 'Products', admin_products_path, class: "nav-link" %></li>
        <li class="nav-item"><%=link_to 'Currency', admin_currencies_path, class: "nav-link" %></li>
        <li class="nav-item"><%=link_to 'Currency rates', admin_currency_rates_path, class: "nav-link" %></li>
        <li class="nav-item"><%=link_to 'Current rates', admin_current_rates_path, class: "nav-link" %></li>
      </ul>
    </header>
    <%= yield %>
  </div>
  </body>
</html>

