<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-md">
    <a class="navbar-brand" href="<%= admin_path %>">Admin panel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="<%= admin_users_path %>">Users</a>
        <a class="nav-link active" href="<%= admin_products_path %>">Products</a>
        <a class="nav-link active" href="<%= admin_currencies_path %>">Currency</a>
        <a class="nav-link active" href="<%= admin_currency_rates_path %>">Currency rates</a>
        <a class="nav-link active" href="<%= admin_current_rates_path %>">Current rates</a>
      </div>
    </div>
  </div>
</nav>

<div class="container main-container">
  <%= yield %>
</div>
</body>
</html>
