<!DOCTYPE html>
<html>
  <head>
    <title>Fashion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <% flash.each do |name, message| %>
   <div id="flash_message" style="display: none" flash-type="<%= flash_type(name) %>">
      <%= message %>
   </div>
   <% end %>

<div class="container" style="margin-top: 30px">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Admin</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/admin/users" class="nav-link">Users</a></li>
      <li class="nav-item"><a href="/admin/products" class="nav-link">Products</a></li>
      <li class="nav-item"><a href="/admin/currency" class="nav-link">Currency</a></li>
      <li class="nav-item"><a href="/admin/rates" class="nav-link">Exchange rates</a></li>
      <li></li>
    </ul>
  </header>
</div>

  <div class ="container">
      <%= yield %>
  </div>
  </body>
</html>
